.card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-unit {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    margin-left: 16px;
    width: 40%;
}

.card-in {
    display: flex;
    flex-direction: row !important;
}

.bg-grey {
    background-color: rgb(240, 240, 240);
}

.blue {
    color: rgb(5, 5, 153);
}

.form-hight {
    height: 100px !important;
}

.no-border {
    border: none;
}

.card-unit img {
    height: 54px;
    width: 54px;
    border-radius: 100%;
}

.assigned-to {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.disable {
    display: none;
}

.buttons {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

.btn-assignet-to {
    margin-right: 16px;
    margin-left: 16px;
}

.profile {
    min-height: 54px;
}

.d-none {
    display: none;
}

.input-field {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
}

.input-field:required+ ::after {
    content: "*";
    color: rgb(187, 11, 11);
    font-size: x-large;
}

select:required+ ::after {
    content: "*";
    color: rgb(187, 11, 11);
    font-size: x-large;
}

.input-field:focus:valid {
    border: 1px solid rgba(72, 153, 72, 1);
    background-color: rgba(72, 153, 72, 0.1);
}

.input-field:focus:invalid {
    border: 1px solid rgba(197, 101, 101, 1);
    background-color: rgba(197, 101, 101, 0.1);
}

.legend {
    color: rgb(187, 11, 11);
    ;
}

@media(max-width: 470px) {
    .buttons {
        flex-direction: column;
    }

    .btn {
        margin-bottom: 8px;
    }

    .profile img {
        height: 32px;
        width: 32px;
        margin-bottom: 8px;
    }

}