.backlog {
    width: 100%;
    padding: 3rem 2rem;
    margin-bottom: 30px;
}

.task-logs {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.task-logs tr {
    width: 100%;
    border-radius: 10px;
}

.task-logs tr:first-child {
   text-align: center;
   background-color: rgb(227, 221, 244);
}

.task-logs tr:first-child th:first-child {
    border-radius: 5px 0 0 5px;
 }

 .task-logs tr:first-child th:last-child {
    border-radius: 0 5px 5px 0;
 }

.task-logs tr td:first-child {
    border-radius: 10px 0 0 10px;
}

.task-logs tr td:last-child {
    width: 60%;
    border-radius: 0 10px 10px 0;
}

.task-log {
    width: 100%;
    background-color: rgb(245, 243, 250);
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.action {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.assignees {
    text-align: center;
}

.assignees img {
    height: 30px;
}

.caption {
    background-color: var(--bg-color1);
    text-align: center;
}

.td-message {
    background-color: white;
    border: 1px solid red;
    color: red;
}