/* css for kanban board*/
:root {
    --bg-color1: white;
    --color-shadow-black: rgba(0, 0, 0, 0.3);
    --color-urgent-low: rgb(240, 235, 255);
    --color-urgent-middle: rgb(228, 219, 255);
    --color-urgent-high: rgb(210, 195, 255);
}

body {
    background-color: var(--bg-color1);
    height: 100vh;
    width: 100%;
}

.board {
    width: 100%;
    height: 100vh;
    padding: 3rem 2rem;
    height: calc(100vh - 30px);
}

.status-panel {
    height: calc(100% - 100px);
    min-width: 162px;
}

.status-panel, .status-content {
    position: relative;
    background-color: rgb(245, 243, 250);
}

.status-content {
    width: 100%;
    height: 100%;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.row {
    width: 100%;
}

.col {
    width: 20%;
}

.caption {
    background-color: var(--bg-color1);
    text-align: center;
}

.tasks {
    height: 95%;
    display: flex;
    justify-content: center;
}

.task-card {
    display: inline;
    padding: 5px 10px;
    /* max-width: 90%; */
    width: 95%;
    border: 1px solid var(--color-shadow-black);
    border-radius: 5px;
    box-shadow: 3px 3px 3px var(--color-shadow-black);
    font-size: smaller;
    margin-bottom: 4px;
    background-color: var(--color-nonurgent);
}

.status-content .task-card:first-child {
    margin-top: 5px;
} 

.task-card p {
    margin-bottom: 4px;
}

.title {
    font-weight: bold;
    border-bottom: 1px solid var(--color-shadow-black);
}

.img-assignee {
    height: 20px;
    object-fit: cover;
}

.assigned {
    display: flex;
    justify-content: flex-end;
}

.urgent-low {
    background-color: var(--color-urgent-low);
}

.urgent-middle {
    background-color: var(--color-urgent-middle);
}

.urgent-high {
    background-color: var(--color-urgent-high);
}

.emp-status {
    border: 1px solid var(--color-urgent);
    background-color: rgb(227, 219, 250);
}

.permeable {
    pointer-events: none;
}

.img-delete {
    position: absolute;
    top: 6px;
    right: 11px;
    height: 20px;
    object-fit: cover;
}


@media(max-width: 850px) {
    .tasks {
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }

    .status-panel {
        border: 1px solid rgb(164, 133, 255);
    }
}