/* main layout */
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    min-height: 30px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(199, 176, 222);
}

.section-license {
    font-size: 0.8rem;
}

.license {
    margin: 0.3rem 0;
}

.card-header {
    min-height: 2rem;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0 80px 0 30px;
}

.logo {
    height: 60px;
    object-fit: cover;
    margin-top: 15px
}

.nav {
    margin-top: 30px;
    width: 100%;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 48, 139);
}

.nav-link {
    color: white !important;
    padding: 6px 10px;
}

.nav-link:hover {
    font-size: larger;
}

#view-name {
    font-size: 1.3rem;
    font-weight: bold
}

.nav-active {
    border-left: 6px solid white !important;
}