/* main layout */
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    min-height: 30px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(149, 162, 244);
}

.section-license {
    font-size: 0.8rem;
}

.license {
    margin: 0.3rem 0;
}

.card {
    margin-bottom: 200px;
}

.card-header {
    min-height: 2rem;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0 80px 0 30px;
}

.logo {
    height: 60px;
    object-fit: cover;
    margin-top: 15px
}

.nav {
    margin-top: 30px;
    width: 100%;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 48, 139);
}

.nav-link {
    color: white !important;
    padding: 6px 6px;
}

.nav-link:hover {
    font-size: larger;
}

.backlog, .tasks, .section-dsgvo, .section-imprint, .help {
    margin-bottom: 60px;
} 

#view-name {
    font-size: 1.3rem;
    font-weight: bold
}

.nav-active {
    border-left: 6px solid white !important;
}

.section-dsgvo, .section-imprint {
    margin-bottom: 50px;
}

.point {
    cursor: pointer;
}

.link-jsdoc {
    font-size: larger;
    border: 1px solid rgba(0, 0, 250, 0.5);
    display: inline;
    padding: 2px 10px;
}

.link-jsdoc:hover {
    background-color: rgb(166, 203, 240);
}


@media(max-width: 768px) {
    .nav {
        width: auto;
        align-items: center;
        flex-direction: row !important;
    }
    
    .nav-item {
        width: auto;
    }

    .nav-active {
        border-left: none !important;
        border-bottom: 2px solid white !important;
        font-size: larger;
        color: rgb(141, 210, 253);
    }
}