/* main layout */
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

footer {
    /* position: fixed;
    bottom: 0;
    left: 0px;
    right: 0; */
    min-height: 30px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(149, 162, 244);
}

.section-license {
    font-size: 0.8rem;
}

.license {
    margin: 0.3rem 0;
}

.card {
    margin-bottom: 200px;
}

.card-header {
    min-height: 2rem;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0 80px 0 30px;
}

.logo {
    height: 60px;
    object-fit: cover;
    margin-top: 15px
}

.nav {
    margin-top: 30px;
    width: 100%;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 48, 139);
}

.nav-link {
    color: white !important;
    padding: 6px 6px;
    border-left: 5px solid transparent;
}

.nav-link:hover {
    border-left: 5px solid white !important;
}


.backlog, .tasks, .section-dsgvo, .section-imprint, .help {
    margin-bottom: 90px;
} 

#view-name {
    font-size: 1.3rem;
    font-weight: bold
}

.nav-active {
    border-left: 5px solid white;
}

.section-dsgvo, .section-imprint {
    margin-bottom: 50px;
}

.point {
    cursor: pointer;
}

.link-jsdoc {
    position: fixed;
    right: 0;
    top: 200px;
    font-size: larger;
    border: 1px solid rgba(0, 0, 250, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    backdrop-filter: blur(5px);
    transform: translateX(91%);
    transition: transform 225ms ease-in-out;
    /* color: blue; */
}

.link-jsdoc:hover {
    /* background-color: rgb(166, 203, 240); */
    transform: translate(0);
}

#message-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-message {
    width: 40%;
    height: 200px;
    position: absolute;
    top: 200px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    background-color: rgba(72, 153, 72, 0.1);
    color: rgb(37, 102, 37);
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 1s ease-in-out;
}

#TaskID {
    color: rgb(27, 182, 27);
}


@media(max-width: 768px) {
    .nav {
        width: auto;
        align-items: center;
        flex-direction: row !important;
    }
    
    .nav-item {
        width: auto;
    }

    .nav-active {
        border-left: none !important;
        border-bottom: 2px solid white !important;
        font-size: larger;
        color: rgb(141, 210, 253);
    }
}