/* main layout */
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    min-height: 30px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(199, 176, 222);
}

.section-license {
    font-size: 0.8rem;
}

.license {
    margin: 0.3rem 0;
}