
    <div class="container">
        <div class="card">
            <div class="card-body bg-grey">

                <div class="card-row">
                    <div class="card-unit">
                        <h5 class="card-title blue">Title</h5>
                        <div class="card-in">
                            <input id="title" type="text" class="form-control" placeholder="Title...">
                        </div>
                    </div>

                    <div class="card-unit">
                        <h5 class="card-title blue">Due Date</h5>
                        <div class="card-in">
                            <input id="startDate" class="form-control" type="date" />
                            <span id="startDateSelected"></span>
                        </div>
                    </div>
                </div>



                <div class="card-row">
                    <div class="card-unit">
                        <h5 class="card-title blue">Category</h5>
                        <div class="card-in">
                            <select class="form-select" id="category">
                                <option selected value="0">Choose...</option>
                                <option value="1">Marketing</option>
                                <option value="2">Product</option>
                                <option value="3">Sale</option>
                            </select>
                        </div>
                    </div>

                    <div class="card-unit">
                        <h5 class="card-title blue">Urgency</h5>
                        <div class="card-in"> 
                            <select class="form-select" id="urgency">
                                <option selected value="0">Choose...</option>
                                <option value="1">High</option>
                                <option value="2">Middle</option>
                                <option value="3">Low</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card-row">
                    <div class="card-unit">
                        <h5 class="card-title blue">Description</h5>
                        <div class="input-group">
                            <textarea id="description" class="form-control form-hight" aria-label="With textarea"
                                placeholder="Description..."></textarea>
                        </div>
                    </div>



                    <div class="card-unit">
                        <h5 class="card-title blue">Assignet to</h5>
                        <div class="assigned-to" id="assigned-to">
                            <div class="profile" id="profile">
                            </div>
                            <div class="editor">
                                <div class="btn-group dropend">
                                    <button id="plusBtn" type="button" class="no-border dropdown" data-bs-toggle="dropdown">
                                        + </button>
                                    <ul class="dropdown-menu">
                                        <li id="dropdowna"><a onclick="addEditor('a'), disableProfile('a')"
                                                class="dropdown-item" href="#"><img src="./img/a.png" alt=""></a></li>
                                        <li id="dropdownb"><a onclick="addEditor('b'), disableProfile('b')"
                                                class="dropdown-item" href="#"><img src="./img/b.png" alt=""></a></li>
                                        <li id="dropdownc"><a onclick="addEditor('c'), disableProfile('c')"
                                                class="dropdown-item" href="#"><img src="./img/c.png" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="buttons">
                            <button id="btn-cancel" onclick="cancel()" type="button" class="btn btn-primary btn-assignet-to">Cancel</button>
                            <button id="btn-action" onclick="addTask()" type="button" class="btn btn-primary btn-assignet-to">Create Task</button>
                        </div>
                    </div>





                </div>





            </div>
        </div>
    </div>
    </div>
