<div id="backlog" class="backlog container px-0 py-3">

    <table class="task-logs">

        <tr>
            <th>ASSIGNED TO</th><th>CATEGORY</th><th>DETAILS</th>
        </tr>

        <tr id="task-log_1" class="task-log">
            <td class="assignees">
                <img class="img-assignee" src="img/a.png">
                <img class="img-assignee" src="img/b.png">
            </td>
            <td class="category">
                Marketing
            </td>
            <td class="details">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla illo quaerat soluta quia vel cum repellendus molestias dolorum voluptatibus maiores sit sequi, laborum aliquam, incidunt similique? Natus eveniet quibusdam optio.
            </td>
        </tr>

        <tr id="task-log_2" class="task-log">
            <td class="assignees">
                <img class="img-assignee" src="img/b.png">
            </td>
            <td class="category">
                Product
            </td>
            <td class="details">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla illo quaerat soluta quia vel cum repellendus molestias dolorum voluptatibus maiores sit sequi, laborum aliquam, incidunt similique? Natus eveniet quibusdam optio.
            </td>
        </tr>

    </table>
</div>