<!--<div id="board" class="board container px-0 py-3">-->
    <div class="tasks row row-cols-4">
        <div id="section-todo" class="status-panel col col-2 mx-1 p-0">
            <div id="caption_1" class="caption">TO DO</div>
            <div id="status_1" class="status-content">
                
            </div>
        </div>
        <div id="section-progress" class="status-panel col col-2 mx-1 p-0">
            <div id="caption_2" class="caption">IN PROGRESS</div>
            <div id="status_2" class="status-content">
                
            </div>
        </div>
        <div id="section-testing" class="status-panel col col-2 mx-1 p-0">
            <div id="caption_3" class="caption">TESTING</div>
            <div id="status_3" class="status-content">
                
            </div>
        </div>
        <div id="section-done" class="status-panel col col-2 mx-1 p-0">
            <div id="caption_4" class="caption">DONE</div>
            <div id="status_4" class="status-content">
                <div id="task_0" class="task-card" draggable="true">
                    <p id="title_0" class="title">task1</p>
                    <p id="desc_0">task description</p>
                    <div id="assigned_0" class="assigned">icons</div>
                </div>
                <div id="task_1" class="task-card" draggable="true">
                    <p id="title_1" class="title">task1</p>
                    <p id="desc_1">task description jetzt will ich mal schauen</p>
                    <div id="assigned_1" class="assigned">icons</div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->