<div class="tasks row row-cols-4">
    <div class="urgency-light Low"></div>
    <div class="urgency-light Middle"></div>
    <div class="urgency-light High"></div>
    <div id="section_1" class="status-panel col col-2 mx-1 p-0" ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="dragenter(event)" ondragleave="dragleave(event)">
        <div id="caption_1" class="caption">TO DO</div>
        <div id="status_1" class="status-content">

        </div>
    </div>
    <div id="section_2" class="status-panel col col-2 mx-1 p-0" ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="dragenter(event)" ondragleave="dragleave(event)">
        <div id="caption_2" class="caption">IN PROGRESS</div>
        <div id="status_2" class="status-content">

        </div>
    </div>
    <div id="section_3" class="status-panel col col-2 mx-1 p-0" ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="dragenter(event)" ondragleave="dragleave(event)">
        <div id="caption_3" class="caption">TESTING</div>
        <div id="status_3" class="status-content">

        </div>
    </div>
    <div id="section_4" class="status-panel col col-2 mx-1 p-0" ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="dragenter(event)" ondragleave="dragleave(event)">
        <div id="caption_4" class="caption">DONE</div>
        <div id="status_4" class="status-content">
        
        </div>
    </div>
    <div id="context-status" class="context-status container d-none">
        <h6>Please move the task to current status:</h6><hr>
        <div id="context_1" class="status container" ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="dragenter(event)" ondragleave="dragleave(event)">TO DO</div>
        <div id="context_2" class="status container" ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="dragenter(event)" ondragleave="dragleave(event)">IN PROGRESS</div>
        <div id="context_3" class="status container" ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="dragenter(event)" ondragleave="dragleave(event)">TESTING</div>
        <div id="context_4" class="status container" ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="dragenter(event)" ondragleave="dragleave(event)">DONE</div>
    </div>
</div>