<div>
    <h1 id="welcome-to-join---a-simple-way-to-organize-your-tasks">Welcome to JOIN - a simple way to organize your tasks!</h1>
    <blockquote>
    <p>We want to introduce you in a way how to handle tasks within this tool.</p>
    </blockquote>
    <h2 id="1-workflow">1. Workflow</h2>
    <p>Let us first talk about the worflow which contributes your organization of tasks.</p>
    <ul>
    <li>A new added tasks gets the status <strong>backlog</strong> first.
    In this status you decide if to do or not.</li>
    <li>If to do, move the task to <strong>todo</strong>.</li>
    <li>If you start with the task just move to <strong>in progress</strong>.</li>
    <li>If you are already done move the task to <strong>testing</strong>.</li>
    <li>After all tests just move the task to <strong>done</strong>.</li>
    </ul>
    <p>That's all!</p>
    <h2 id="views">Views</h2>
    <blockquote>
    <p>Some views provide tooltip with further details of a task if you stay over particular areas of a task (e.g. backlog and board).</p>
    </blockquote>
    <h3 id="1-add-task">1. Add task</h3>
    <p>You add a task by clicking on <strong>add task</strong>.</p>
    <h3 id="2-backlog">2. Backlog</h3>
    <p>A new added Task appears in backlog first.
    You have an overwiev of all new tasks here.</p>
    <h3 id="3-board">3. Board</h3>
    <p>The simpliest way to organize your tasks is to put them on a board and move them in current status.
    This can be done by <strong>drag &amp; drop</strong> of tasks you see on the board.
    Each column represents a special status up to <strong>done</strong></p>
    <h2 id="join-our-app-to-simplify-your-organization">JOIN our app to simplify your organization!</h2>
</div>