<div class="help">
    <h1 id="welcome-to-join---a-simple-way-to-organize-your-tasks">Welcome to JOIN - a simple way to organize your tasks!</h1>
<blockquote>
<p>We want to introduce you in a way how to handle tasks within this tool.</p>
</blockquote>
<h2 id="1-workflow">1. Workflow</h2>
<p>Let us first talk about the worflow which contributes your organization of tasks.</p>
<ul>
<li>You can create a task by clicking on <strong>Add Task</strong> in the navigation side bar.</li>
<li>A new added task gets the status <strong>backlog</strong> first and moves to <strong>Backlog</strong> (you see it on the incrementing badge next to <strong>Backlog</strong> in the navigation side bar).
In this status you decide if to do or not.</li>
<li>If to do, the task moves to <strong>Board</strong> (status <strong>To Do</strong>, you see it on the incrementing badge next to <strong>Board</strong> in the navigation side bar).</li>
<li>On Board you change the status of a task by drag&amp;drop of this task.</li>
<li>If you decide to move the task to <strong>backlog</strong> just drag it on <strong>Backlog</strong> in the navigation side bar.</li>
<li>If you start with the task just move to <strong>in progress</strong> (on board).</li>
<li>If you are already done move the task to <strong>testing</strong>.</li>
<li>After all tests just move the task to <strong>done</strong>.</li>
</ul>
<h2 id="2-update-a-task">2. Update a task</h2>
<ul>
<li>You can easily update a task on Board by clicking on the <em>edit icon</em> on each task card.</li>
</ul>
<h2 id="3-delete-a-task">3. Delete a task</h2>
<ul>
<li>A task can be deleted on Board by clicking on the <em>delete icon</em> on each task card.</li>
</ul>
<p>That's all!</p>
<h2 id="views">Views</h2>
<blockquote>
<p>Some views provide tooltip with further details of a task if you stay over particular areas of a task (e.g. backlog and board).</p>
</blockquote>
<h3 id="1-add-task">1. Add task</h3>
<p>You add a task by clicking on <strong>add task</strong>.
Please choose due date, category and urgency for this task.
Please click on button <strong>Create Task</strong> to add task.</p>
<h3 id="2-backlog">2. Backlog</h3>
<blockquote>
<p>A new added Task appears in backlog first.
You have an overwiev of all new tasks here.</p>
</blockquote>
<ul>
<li>To move the task to next phase, please click on <strong>Keep</strong> button.</li>
<li>If refuse the task, delete this task by clicking on <strong>Discard</strong> button.</li>
</ul>
<h3 id="3-board">3. Board</h3>
<blockquote>
<p>The simpliest way to organize your tasks is to put them on a board and move them in current status.</p>
</blockquote>
<ul>
<li>This can be done by <strong>drag &amp; drop</strong> of tasks you see on the board.
Each column represents a special status up to <strong>done</strong></li>
</ul>
<h2 id="join-our-app-to-simplify-your-organization">JOIN our app to simplify your organization!</h2>
<div class="link-jsdoc"><b>&lt;&lt;&nbsp;&nbsp;&nbsp;</b><a href="js/out/index.html" target="_blank" title="JS documentation">Please click here to get full JavaScript documentation.</a></div>
</div>